<!DOCTYPE html>
<html>
<head>
  <title>Weather!</title>
</head>
<body background="https://github.com/wyncode/student-resources/raw/master/technical_one_on_ones/week4/rainy.jpg
">

<%  %>

<div><h1>November 14, 2017</h1></div>

  <h2><%= @farenheit %> F</h2>

<div>
  <h3 class="text"><%= @weather["weather"][0]["description"]%></h3>
</div>

</body>
</html>